.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.search-container form {
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,0.28);
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    flex-grow: 1;
    border-radius: 24px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/* 검색결과 보여줄 div */
.search-result-form {
    display: inline-block;
    width: 30vw;
    max-width: 400px; /* 최대 너비 제한 (선택 사항) */
    min-width: 200px; /* 최소 너비 제한 (선택 사항) */

    border: 2px solid #3498db; /* 파란색 테두리 */
    border-radius: 10px; /* 둥근 모서리 */

    margin: 20px 10px;
    padding: 20px; /* 내부 여백 */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */

    background-color: #f9f9f9; /* 연한 배경색 */
}
