<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>검색 결과</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>검색 결과</h1>-->

<!--<div th:if="${searchResults}">-->
<!--    <h2>총 결과 개수: <span th:text="${searchResults.meta.total_count}"></span></h2>-->

<!--    <div th:each="doc : ${searchResults.documents}">-->
<!--        <h3 th:text="${doc.title}"></h3>-->
<!--        <p th:text="${doc.contents}"></p>-->
<!--        <p>블로그명: <span th:text="${doc.blogname}"></span></p>-->
<!--        <p>작성일: <span th:text="${doc.datetime}"></span></p>-->
<!--        <a th:href="${doc.url}" target="_blank">원문 보기</a>-->
<!--        <hr>-->
<!--    </div>-->
<!--</div>-->
<!--<div th:if="${searchResults == null}">-->
<!--    <p>검색 결과가 없습니다.</p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
