<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/form/asset/css/signup.css}">
    <script th:src="@{/form/asset/javascript/role.js}" defer></script>
</head>
<body>
    <div>
        <h1>Only Access</h1>
        <h1>Admin</h1>
        <button class="btn" onclick="helloName('admin')">hello</button>
    </div>
    <div id="userInfoDiv" class="userInfoDiv"></div>
</body>
</html>