<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member</title>
    <link rel="stylesheet" th:href="@{/form/asset/css/signup.css}">
    <script th:src="@{/form/asset/javascript/role.js}" defer></script>
</head>
<body>
    <div>
        <h1>Free Access</h1>
        <button class="btn" onclick="helloName('member')">hello</button>
    </div>
    <div id="userInfoDiv"></div>
</body>
</html>